---
layout: home
title: tomelam.github.io
---

<div class="docs-header">
  {% include masthead.html %}
  <div class="docs-header-content">
    <p class="docs-subtitle">Enable profoundly easy, personalized evolution of websites and web apps</p>
    <a data-ignore="push" href="zen" class="btn btn-primary" onClick="window.location.href = 'zen';">Go to Zen</a>
    <p class="version">
	/index.html</br />
	site.url: {{ site.url }}<br />
	site.baseurl: {{ site.baseurl }}<br />
	site.github.url: {{ site.github.url }}<br />
	page.url: {{ page.url }}<br />
	page.url | prepend: site.github.url: {{ page.url | prepend: site.github.url }}
    </p>
  </div>

  <div class="docs-header-bottom">
    {% include footer.html %}
  </div>
</div>
