body { background-color: snow; }

.yellow { background-color:yellow }

.wheat { background-color:wheat }

.pink { background-color:pink }

.lavender { background-color:lavender }

div.box { height:90px; margin:10px; padding:10px; }

div.big-box { height:190px; }

/* .draggable-block:active { */
.draggable-block {
    cursor: url('../images/ns-move.gif'),auto;
    /* cursor: ns-resize; */
}

.draggable-inline:active {
    cursor: url('../images/ew-move.gif'),auto;
}
