body { background-color: snow; }

/* div { margin-top:0px; margin-bottom:0px; } */

.ruler { float:left; display:block; width:20px; z-index:-100; }

.decade { float:left; display:block; background-color:black; height:1px; width:20px; }

.line { float:left; display:block; height:9px; width:20px; font-size:10px; }

.yellow { background-color:yellow }

.wheat { background-color:wheat }

.pink { background-color:pink }

.lavender { background-color:lavender }

.salmon { background-color:salmon }

.tan { background-color:tan }

.silver { background-color:silver }

.thistle { background-color:thistle }

.azure { background-color:azure }

.hover { position:absolute; right:0px; width:200px; margin:10px; padding:5px;
	 background-color:lightgreen; opacity:0.7; }

div.container-box { margin:2px 25px 2px 25px; border:3px solid white; }

div.box { height:80px; margin:2px 10px 2px 10px; padding:10px; border:3px solid white; }

div.big-box { height:180px; }

div.inline { display:inline; padding:2px; font-size:14px; }

.inline-block { display:inline-block; margin:2px 10px 2px 10px; height:100px; width:50px; border:3px solid white; }

/* .draggable-block:active { */
.draggable-block {
    cursor: url('../images/ns-move.gif'),auto;
    /* cursor: ns-resize; */
}

.draggable-inline:active {
    cursor: url('../images/ew-move.gif'),auto;
}

.draggable-nsew-inline:active {
    cursor: url('../images/nsew-move.gif'),auto;
}